/*
	MinecraftUI Main Stylesheet

	by Blaineworld
*/

:root{
	--mcui-pixel: 1px;

	--mcui-shadow-color: #000104;
}

.mcui {
	background-size: calc(16 * var(--mcui-pixel));

	display: inline-block;

	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;

	position: relative;

	margin: 0;
	padding: 0;
	height: calc(16 * var(--mcui-pixel));
	width: calc(16 * var(--mcui-pixel));

	vertical-align: text-top;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.mcui-button {
	background-color: silver;
	background-position: calc(-5 * var(--mcui-pixel)) calc(-6 * var(--mcui-pixel));

	margin: calc(6 * var(--mcui-pixel)) calc(5 * var(--mcui-pixel));
	height: calc(4 * var(--mcui-pixel));
	width: calc(6 * var(--mcui-pixel));
}

.mcui-item-frame {
	background-color: brown;
	background-image: url('textures/block/item_frame.gif');
	background-position: calc(-1 * var(--mcui-pixel)) calc(-1 * var(--mcui-pixel));

	border: var(--mcui-pixel) solid gold;

	color: yellow;

	font-family: cursive;

	width: calc(14 * var(--mcui-pixel));
	height: calc(14 * var(--mcui-pixel));

	overflow: shown;

	text-align: center;
}

.mcui-item-frame::after {
	content: '';

	background-image: url('textures/block/item_frame_border.gif');
	background-size: calc(16 * var(--mcui-pixel));

	display: block;

	left: calc(-1 * var(--mcui-pixel));
	top: calc(-1 * var(--mcui-pixel));

	position: absolute;

	width: calc(16 * var(--mcui-pixel));
	height: calc(16 * var(--mcui-pixel));
}

.mcui-item-frame > * {
	margin: auto;

	max-height: 100%;
	max-width: 100%;

	object-fit: fill;

	vertical-align: middle;
}

.mcui-pressure-plate {
	background-color: silver;
	background-position: calc(var(--mcui-pixel) * -1) calc(var(--mcui-pixel) * -1);

	margin: var(--mcui-pixel);
	height: calc(var(--mcui-pixel) * 14);
	width: calc(var(--mcui-pixel) * 14);
}

.mcui-pressure-plate::after, .mcui-button::after {
	content: ' ';

	display: none;
	height: 100%;
	width: 100%;
}

.mcui-pressure-plate.mcui-active::after, .mcui-button.mcui-active::after {
	background: var(--mcui-shadow-color);

	display: block;

	opacity: 0.4;
}

.mcui-redstone-lamp {
	background-color: brown;
	background-image: url('textures/block/redstone_lamp.gif');
}

.mcui-redstone-lamp.mcui-active {
	background-color: papayaWhip;
	background-image: url('textures/block/redstone_lamp_on.gif');
}

.mcui-wall-sign {
	background-color: gold;
	background-size: calc(16 * var(--mcui-pixel)) calc(8 * var(--mcui-pixel));

	font-family: sans-serif;
	font-size: calc(2 * var(--mcui-pixel));
	line-height: calc(2 * var(--mcui-pixel));
	text-align: center;

	margin: calc(4 * var(--mcui-pixel)) 0;
	height: calc(8 * var(--mcui-pixel));
	width: calc(16 * var(--mcui-pixel));

	outline: none;

	overflow-x: hidden;
	overflow-y: hidden;

	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.mcui-wall-sign::selection {
	background-color: #0000ff;
	color: white;
}